@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

body
{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.top-nav
{
    color:white;
    text-align: center;
    background-color: black;
}

.top-nav > h1
{
    font-family:'Acme', sans-serif;
    font-size:3rem;
    display: inline;
}

.top-nav > .right-text
{
    line-height: 3rem;
    vertical-align: middle;
}

.top-nav a
{
    color:white;
}

.top-nav a:hover
{
    color: orange;
}

.sec-nav
{
    border-bottom:1px solid #CCC;
    padding:0.8rem 0;
    margin-bottom:1rem;
}

.sec-nav .nav-item a
{
    color:black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:1.5rem;
}

.text-stroke
{
    text-decoration: line-through;
    color:grey;
    font-size:0.8rem;
}

.card-product-selected
{
    font-size:0.8rem;
    text-align:right;
    color:white;
    padding:0.5rem;
    font-weight:bold;
}

.pointer
{
    cursor: pointer;
}

.pointer:hover strong
{
    color:#007bff;
}

h3
{
    margin-bottom:0;
}

.sect-header
{
    border-bottom:3px solid orange;
    padding-bottom:1rem;
    margin-bottom:1.5rem;
}

.cart-list-table th , .cart-list-table td
{
    text-align: center;
}

.cart-list .summary
{
    border-top:1px solid grey;
}

.cart-list .summary span
{
    font-size: 1.5rem;
}

.btn-pay
{
    margin-left: 1rem;
}

.footer
{
    margin-top: 1rem;
    font-size:0.8rem;
    padding:1rem;
    text-align: center;
    border-top:1px solid grey;
    position:fixed;
    bottom:0px;
    background-color:white;
}

.footer-border
{
    height:2rem;
}